h1{
    color:red;
}
#Heading-2{
    color:blue;
}
.Heading-3{
    color:aqua;
}
.Heading-4{
    color:#1a052e
}
.para{
    border:2px;
    border-color:darkcyan;
    border-style: solid;
    padding: 20px;
   
    
}
.navbar{
    border:3px;
    border-style: solid;
    border-color: darkgreen;
    padding: 15px;
    background-color: darkturquoise;
    text-align: center;

}
.navbar a{
    text-decoration: none;
    color:#061d1ddb;
    padding: 10px;
}
.navbar a:hover{
    background-color: darkseagreen;
    color: chartreuse;
}
.body{
    margin: 0px;

}
.card{
    border: 2px solid chocolate;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    
}
.card img{
    width: 100%;

}
.card button{
    margin-bottom: 20px;
}