h1{
    color:red;
}
#Heading-2{
    color:blue;
}
.Heading-3{
    color:aqua;
}
.Heading-4{
    color:blueviolet
}
.para{
    border:2px;
    border-color:darkcyan;
    border-style: solid;
    padding: 20px;
   
    
}
.navbar{
    border:3px;
    border-style: solid;
    border-color: darkgreen;
    padding: 15px;
    background-color: darkturquoise;
    text-align: center;

}
.navbar a{
    text-decoration: none;
    color:cadetblue;
    padding: 10px;
}
.navbar a:hover{
    background-color: darkseagreen;
    color: chartreuse;
}
.body{
    margin: 8px;

}